{{#partial "content"}}
    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="6000">

        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <a href="/News/new">
                    <picture>
                        <div class="overlay"></div>
                        <source srcset="/images/browser-coffee-cup-6335.jpg" media="(min-width: 1400px)">
                        <source srcset="/images/browser-coffee-cup-6335.jpg" media="(min-width: 769px)">
                        <source srcset="/images/browser-coffee-cup-6335.jpg" media="(min-width: 577px)">
                        <img srcset="/images/browser-coffee-cup-6335.jpg" alt="responsive image"
                             class="d-block img-fluid">
                    </picture>

                    <div class="carousel-caption">
                        <div>
                            <h1>Department News</h1>
                            <p>Amazing Departmental News At the comfort of your phone</p>
                            <span class="btn btn-sm btn-outline-secondary">Learn More</span>
                        </div>
                    </div>
                </a>
            </div>
            <!-- /.carousel-item -->
            <div class="carousel-item">
                <a href="/Users/new">
                    <picture>
                        <div class="overlay"></div>
                        <source srcset="/images/adult-casual-coffee-1437541.jpg" media="(min-width: 1400px)">
                        <source srcset="/images/adult-casual-coffee-1437541.jpg" media="(min-width: 769px)">
                        <source srcset="/images/adult-casual-coffee-1437541.jpg" media="(min-width: 577px)">
                        <img srcset="/images/adult-casual-coffee-1437541.jpg" alt="responsive image"
                             class="d-block img-fluid">
                    </picture>

                    <div class="carousel-caption justify-content-center align-items-center">
                        <div>
                            <h1>Department Users</h1>
                            <p>Our organization is composed of a team of dedicated members</p>
                            <span class="btn btn-sm btn-outline-secondary">Our Members</span>
                        </div>
                    </div>
                </a>
            </div>
            <!-- /.carousel-item -->
            <div class="carousel-item">
                <a href="/Department/new">
                    <picture>
                        <div class="overlay"></div>
                        <source srcset="/images/adults-analysis-brainstorming-1661004.jpg" media="(min-width: 1400px)">
                        <source srcset="/images/adults-analysis-brainstorming-1661004.jpg" media="(min-width: 1000px)">
                        <source srcset="/images/adults-analysis-brainstorming-1661004.jpg" media="(min-width: 577px)">
                        <img srcset="/images/adults-analysis-brainstorming-1661004.jpg"  alt="responsive image"
                             class="d-block img-fluid">
                    </picture>

                    <div class="carousel-caption justify-content-center align-items-center">
                        <div>
                            <h1>Departments</h1>
                            <p>We Have Amazing departments ro take care of your needs</p>
                            <span class="btn btn-sm btn-secondary">Learn How</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="zedd">
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="about">
        <div id="about">
            <h2>About Us</h2>
            <p>Moringa School is a multi-disciplinary coding school committed to closing the skills gap in Africa’s job market by offering high-potential students the necessary technical and professional training in order to compete in a digital, global economy.
                <br><br> Moringa School is creating world-class developers by providing a comprehensive curriculum and an outcome-driven program to motivated, young people in Africa.</p>
        </div>

    </div>


{{/partial}}

{{> layout.hbs}}