{{#partial "content"}}

    <div class="success">
        <h1>
            Success !
        </h1>
        <p>
            Created  successfully

        </p>


        <a href="/"><button type="submit" class="btn btn-primary" aria-pressed="false" autocomplete="off">
            Go back
        </button></a>
    </div>
{{/partial}}

{{> layout.hbs}}
